.markdown {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.markdown blockquote,
.markdown ol,
.markdown p,
.markdown ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.markdown h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
}
.markdown h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.markdown h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
